.profileImageContainer
{
    height: 15rem;
    width: 15rem;

    border-radius: 50%;

    background: rgba(187, 205, 229, 0.2);
    border: 2px solid #BBCDE5;

    position: absolute;

    transform: translateY(-11rem);
}

.lineBreak
{
    width: 100%;

    border: 1px solid #E8E5E5;
}