.input {
    display: none
}

.fileUpload {
    cursor: pointer;
}

.uploadBox {
    box-sizing: border-box;

    width: 902px;
    height: 312px;
    left: 510px;
    top: 354px;

    background: #FFFFFF;
    border: 2px dashed #95D5E2;
    border-radius: 20px;
}