@tailwind base;
@tailwind components;
@tailwind utilities;

// Google Font Import
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

// Variables
$light-blue: #BBCDE5;
$black: #252525;

// GENERAL
html 
{
    height: 100vh;
}

body 
{
    font-family: 'Nunito Sans', sans-serif;
    color: #252525;
    
    min-height: 100vh;
}


// Typography
h1 
{
    font-size: 30px;
}

h2 
{
    font-size: 24px;
}

h3
{
    font-size: 16px;
}

p 
{
    font-size: 16px;
}

label 
{
    font-size: 16px;
    font-weight: bold;
}

input
{
    height: 3.375rem;
    width: 100%;
    
    border: $light-blue solid 2px;
    border-radius: 20px;
    
    padding: 0 1.25rem;
}

input::placeholder
{
    color: #DCD4D4;
}

textarea
{
    border: $light-blue solid 2px;
    border-radius: 20px;
    
    padding: 1rem 1.25rem;
    width: 100%;

    resize: none;
}

textarea::placeholder
{
    color: #DCD4D4;
}

.title 
{
    font-size: 64px;
    font-weight: bold;
}

.pre-wrap
{
    white-space: pre-wrap;
}

li
{
    font-size: 24px;
}

// Button
.button
{
    font-size: 16px;
    font-weight: bold;
    width: 100%;

    color: white;
    background-color: #EF626C;
    border-radius: 20px;

    padding: 1rem 1.5rem;

    &.large
    {
        width: 15rem;
        height: 4rem;
        font-size: 24px;
    }

    &.is-blue
    {   
        color: $black;
        background: rgba(187, 205, 229, 0.2);
        border: 2px solid #BBCDE5;

        &.is-dashed
        {
            background-color: transparent;
            border: 2px dashed #BBCDE5;
        }
    }

    &.link
    {
        width: 15rem;
        height: 4rem;

        color: #252525;
        background-color: transparent;
        font-size: 24px;
    }
}

// Iconography
FeatherIcon
{
    stroke: #252525;
}

// Color
.is-lightblue
{
    color: $light-blue;
}