.addSocialContainer
{
    border: 2px solid #BBCDE5;
    border-radius: 20px;
    background: rgba(187, 205, 229, 0.2);
    width: fit-content;
    padding: 1rem;


    &.disabled
    {
        border: 2px solid #95989b;
        background: rgba(219, 216, 216, 0.579);
    }
}
