.signInContainer
{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;

    border-radius: 1.25rem;

    bottom: 0;
    right: 0;
    margin: 35px 25px;

    width: fit-content;

    padding: 1.5rem;
}