$layout-breakpoint-small: 960px;

.customBackground
{
    background-color: #fbfbfb;
    min-height: 100vh;
}

.dashboardContentContainer
{
    background-color: white;
    border-radius: 20px;

    padding: 1rem;

    @media (min-width: $layout-breakpoint-small) 
    {
        padding: 3rem;
    }
}

.customNavbar
{
    background-color: white;
    border-radius: 20px;
    
    min-width: 100%;
    height: fit-content;

    padding: 3rem;

    transform: none;
    
    @media (min-width: $layout-breakpoint-small) {
        transform: translateY(-150px);
    }
}

.profileImageContainer
{
    height: 10rem;
    width: 10rem;

    border-radius: 50%;

    background: rgba(187, 205, 229, 0.2);
    border: 2px solid #BBCDE5;
}

.dashboardActionButton
{
    padding: 2rem;
    width: fit-content;

    border-radius: 50%;
    
    position: absolute;
    transform: translateY(-110px) translateX(30px);

    background: rgba(187, 205, 229, 0.2);
    border: 2px solid #BBCDE5;
}