$layout-breakpoint-small: 960px;

.customBackground
{
    background-color: #fbfbfb;
    min-height: 100vh;
}

.editContainer
{
    background-color: white;
    border-radius: 20px;

    padding: 3rem;
}

.customNavbar
{
    background-color: white;
    border-radius: 20px;
    
    min-width: 100%;
    height: 56.25rem;

    padding: 3rem;

    transform: none;
    
    @media (min-width: $layout-breakpoint-small) {
        transform: translateY(-150px);
    }
}